/*Colors to be used:
810000
630000
1b1717
*/
body {
  margin-left: 0;
  margin-top: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.bottom-cloud {
  position: absolute;
  right: 60%;
}
.bottom-container {
  /*background-color: #630000;*/
}

.brain_img {
  height:90px;
  width:100px;
  border-radius: 50%
}

.code_img {
  height:100px;
  width:100px;

}
h1 {
  color: #810000;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
}

h2 {
  color: #810000;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;

}

.joe_image {
  border-radius: 50%;
  height: 200px;
  width: 150px;
}

.middle-container {
  /*background-color: #810000;*/
}

p {
  margin-bottom:  0;
}

.top-cloud {
  position: absolute;
  left: 60%;
  top: 50px;
}
.top-container {
  background-color: #eeebdd;
  margin-bottom: 0;
  padding-top: 100px


}
